[defaults]
inventory = ./inventory.proxmox.yml, ./static_inventory.ini
host_key_checking = False
forks = 10
roles_path = ./roles
private_key_file=./ansible_private_key

[ssh_connection]
pipelining = True
